* {
  box-sizing: border-box;
}

.menu {
  width: 25%;
  margin: 15px 20px;
}

.menu a {
  background-color: rgb(148, 196, 196);
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.menu a:hover {
  background-color: rgba(144, 144, 160, 0.8);
  color: white;
}

.menu a.active {
  background-color: rgb(14, 54, 105);
  color: white;
}

.levy {
  width: 25%;
  float: left;
  margin-top: 10px;
}
.pravy {
  width: 75%;
  float: left;
  margin-top: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

input[type=submit]{
  background-color: rgb(14, 54, 105);
  color: white;
  padding: 10px;
  float: right;
  border: 2px solid rgb(14, 54, 105);
  border-radius: 4px;
  width: 200px;
  margin-top: 15px;
  cursor: pointer;
}
input[type=submit]:hover{
  background-color: white;
  color:black;
}
input[type=submit]:active{
  background-color: rgb(14, 54, 105);
  color:white;
}
